<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assessment_2_South_Park.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Assessment_2_South_Park.My.MySettings>
            <setting name="lcKicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcClickValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcDrinkCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcKidsCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcNewShoesCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lckps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcEnergyDrinksOwned" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcKidsOwned" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcNewShoesOwned" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcCountPerSecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcEnemyHealthPoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcEnemyClickValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcArrowsCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcProtectCost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcDammageToEnemy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lcAllPowerUps" serializeAs="String">
                <value>0</value>
            </setting>
        </Assessment_2_South_Park.My.MySettings>
    </userSettings>
</configuration>